@font-face {
    font-family: 'Tale'; /* Choose a name for the font */
    src: url('fonts/under.otf') format('opentype'); /* Path to your font file */
}

main {
    flex-grow: 1; /* Allows main content to take up available space */
}

body {
    background-color: black;

    margin: 0; /* Remove default body margin */
    min-height: 100vh; /* Ensure body takes full viewport height */
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Tale', sans-serif; /* Apply the custom font */
    color: white;

    letter-spacing: 2px; /* Adjust this value for more or less spacing */

    display: flex; /* Set the display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
        src: url('fonts/under.otf') format('opentype'); /* Path to your font file */

}

h2 {
    font-family: 'Tale', sans-serif; /* Apply the custom font */
    color: white;

    letter-spacing: 2px; /* Adjust this value for more or less spacing */

    display: flex; /* Set the display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
        src: url('fonts/under.otf') format('opentype'); /* Path to your font file */

}

h3 {
    font-family: 'Tale', sans-serif; /* Apply the custom font */
    color: white;
    letter-spacing: 2px; /* Adjust this value for more or less spacing */
    display: flex; /* Set the display to flex */
        src: url('fonts/under.otf') format('opentype'); /* Path to your font file */
}

p1 {
    color: white;
    font-family: 'Tale', sans-serif; /* Apply the custom font */
        src: url('fonts/under.otf') format('opentype'); /* Path to your font file */
}
ul {
    color: white;
    font-family: 'Tale', sans-serif; /* Apply the custom font */
    letter-spacing: 2px; 
        src: url('fonts/under.otf') format('opentype'); /* Path to your font file */
}

p {
    color: white;
    font-family: 'Tale', sans-serif; /* Apply the custom font */
        src: url('fonts/under.otf') format('opentype'); /* Path to your font file */
}

div.img_holder img {
    
        float: middle;
        margin: 5;

}

footer {
    /*background-color: #333;*/
    color: white;
    padding: 10px;
    text-align: center;
    
    /* For fixed positioning uncomment the following */
    position: fixed;
    bottom: 0;
    width: 100%;
}

