@font-face {
    font-family: 'Tale'; /* Choose a name for the font */
    src: url('fonts/under.otf') format('opentype'); /* Path to your font file */
}

body {
    background-color: black;
}

h1 {
    font-family: 'Tale', sans-serif; /* Apply the custom font */
    color: white;

    letter-spacing: 2px; /* Adjust this value for more or less spacing */

    display: flex; /* Set the display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

}

h2 {
    font-family: 'Tale', sans-serif; /* Apply the custom font */
    color: white;

    letter-spacing: 2px; /* Adjust this value for more or less spacing */

    display: flex; /* Set the display to flex */
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */

}

h3 {
    font-family: 'Tale', sans-serif; /* Apply the custom font */
    color: white;
    letter-spacing: 2px; /* Adjust this value for more or less spacing */
    display: flex; /* Set the display to flex */
}

p1 {
    color: white;
    font-family: 'Tale', sans-serif; /* Apply the custom font */
}
ul {
    color: white;
    font-family: 'Tale', sans-serif; /* Apply the custom font */
    letter-spacing: 2px; 
}

p {
    color: white;
    font-family: 'Tale', sans-serif; /* Apply the custom font */
}

